audio {
    margin: 8px;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  button {
    width: 100px;
    margin: 8px;
  }
  
  .m-8 {
    margin: 8px;
  }
  
  .ml-8 {
    margin-left: 8px;
  }
  
  .mr-8 {
    margin-right: 8px;
  }
  
  .mt-8 {
    margin-top: 8px;
  }
  
  .mb-8 {
    margin-bottom: 8px;
  }
  
  .dtmf {
    margin: 8px;
  }
  
  table td {
    padding: 8px;
  }
  
  .pb-0 {
    padding-bottom: 0;
  }
  
  input[id="server"] {
    width: 280px;
  }
  
  .center {
    text-align: center;
  }
  
  input[id="domain"] {
    width: 250px;
  }
  
  dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  #closeDialog {
    text-align: right;
    margin: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: 0;
    background: 0;
    outline: 0;
  }
  